<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <h1>Hello movies!</h1>
        </div>

        <div class="row">
            <% startUpPage.forEach((movie)=>{ %>
                <h3><%= movie.title %></h3>
                <img src='https://image.tmdb.org/t/p/w500/<%= movie.backdrop_path %>'/>
                <br>
                <a href="/movie/<%= movie.title %>">Click for more</a>
            <% }) %>
        </div>

        <form action='/search' method='GET'>
            <input name='searchTerm' />
            <button type='submit'>Search</button>
        </form>
    
    </div>
  </body>
</html>