<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <h1>Hello movies!</h1>
        </div>

        <div class="row">
            <% movies.forEach((movie, i)=>{ %>
                <h3><%= movie.title %></h3>
                <p><%= movie.plot %></p>
                <a href="/movie/<%= i %>">Click for more</a>
            <% }) %>
        </div>

        <form action='/search' method='POST'>
            <input name='searchTerm' />
            <button type='submit'>Search</button>
        </form>
    
    </div>
  </body>
</html>